<h1><%= @tenant.name %></h1>

<b> Location: </b> <%= link_to @tenant.location.name, location_url(@tenant.location_id) %>

<hr/>
<div class="mt-2"> <h3>Contracts</h3>

    <div class="row">
        <% @tenant.contracts.each do |c| %>
            <%= render partial: 'contracts/show', locals: {contract: c} %>
        <% end %>
    </div>

    <div>
    <%=link_to "Add new contract", new_location_contract_path(@tenant.location.id, tenant_id: @tenant.id)%>
    </div>

</div>