<%if isOwner%>
  <hr />
  <b>Danger zone:</b>
  <div data-toggle="modal" data-target="#confirm-delete"></div>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete <%= typeString %>
  </button>
<%end%>
