    <div class="mt-1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Unit
                <%if full%>
                    <th scope="col"> Price
                <%end%>
                <th scope="col"> Tenant
                <th scope="col"> Balance
                <%if full%>
                    <th scope="col"> Link 
                    <th scope="col"> Contract
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% units.each do |u| %>
                <tr>
                <td scope="col"><%= u.name %>
                <%if full%>
                    <td scope="col"><%= u.price %></td>
                <%end%>
                <td scope="col">None</td>
                <td scope="col">0</td>
                <%if full%>
                    <td scope="col"><%=link_to "Check dues", users_url, class: "btn btn-primary mt-1" %></td>
                    <td scope="col">Start and end date </td>
                <%end%>
                </tr>
            <% end %>
            <tr>
                <td scope="col">
                    <% if current_user.owner? && full %>
                        <%= link_to "Add units", new_location_unit_path(location.id) , class:"btn btn-primary mt-1"%>
                    <% end %>
                </td>
                </td scope="col">
                </td scope="col">
                </td scope="col">
                </td scope="col">
                </td scope="col">
            </tr>
        </tbody>
    </table>
</div>