<div class="control-group" style="height:4rem"></div>
<div class="row">
    <div class="control-group" style="width:10rem"></div>
    <div style="width:20rem">
        <h1 class="mb-3">Manage Rents with Ease</h1>
        Helping homeowners keep track of rent payment from tenants
        and collection dates
        <div>
        <%= link_to 'Get started',  new_user_path,class: "btn btn-primary mt-3"%>
        </div>
    </div>
</div>