<h1>Welcome to rent bills!</h1>
<%if current_user!=nil %>
<%= current_user.name %>


<%else%>
<div>
<%= link_to 'Sign in',  new_user_path,class: "btn btn-primary mt-3"%>
<%= link_to 'Log in',  login_path,class: "btn btn-primary mt-3"%>
</div>

<%end%>