

<div class="mt-2">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Date
                <th scope="col"> Tenant
                <th scope="col"> Payment
                <th scope="col"> Due
                <th scope="col"> Collector/Setter
                <th scope="col"> Remarks
                <th scope="col"> Verified
            </tr>
        </thead>
        <tbody>

            <% superlist = (payments.to_a + dues.to_a).sort_by{|x| x[:due_date] || x[:pay_date]} %>
            <% superlist.each do |p| %>
                <tr>
                <%future = false%>
                <%if p[:pay_date] %>
                        <%=render partial: 'payments/row', locals: {p: p}%>
                <%else%>
                        <%=render partial: 'dues/row', locals: {p: p}%>
                </tr>
                <%end%>   
            <%end%>
            <tr>
                <th scope="col">Total</th>
                <td scope="col"></td>
                <th scope="col"><%=@sum%></th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td> 
                <td scope="col"></td>        
            </tr>
            <%if @location%>
             <%=render partial: 'payments/new', locals: {p: Payment.new,
                                                        tenants: tenants,
                                                        location: @location}%>
            <%end%>
            
        </tbody>
    </table>
</div>