<div class="m-3">These are the contracts of <%=unit.name%>.</div>
<div class="m-3 row">
    <% if !unit.contracts.empty? %>
        <% unit.contracts.each do |c| %>
            <%= render partial: 'contracts/show', locals: {contract: c} %>
        <% end %>
    <%end%>
    </div>
</div>
<div class="m-3 ml-6"><%=link_to "Add contracts", new_location_contract_path(unit.location.id, unit_id: unit.id), class: "btn btn-primary"%>
    
<div class="text-danger"><%= link_to "Delete unit", location_unit_url(location_id: unit.location_id, id: unit.id), method: :delete   %></div>
