<div class="m-3">
    These are the tenants of <%=location.name%>.
    <% if !location.tenants.empty? %>
        <% location.tenants.each do |tenant| %>
            <div class="card mb-1 mt-3 p-3" >
                
                <div><b>Name: </b><%= link_to tenant.name, tenant_path(tenant.id) %></div>
                <div><b>Information: </b>No information to display </div>
                <div><b>Active contracts: </b>0 </div>
                <div><b>Balance: </b>0 </div>
                
            </div>
        <% end %>
    <%end%>
    <div class="mt-3"><%=link_to "Add tenants", new_location_tenant_path(location.id), class: "btn btn-primary"%>
    </div>
</div>