<div>
<h1><%= @location.name %></h1>
</div>


<%= render partial: 'shared/units', locals: {location: @location,
                                             units: @units,
                                             full: true} %>