<div>
<h1><%= @location.name %></h1>
</div>

<h1><%= @log %></h1>

<%= render partial: 'shared/units', locals: {location: @location,
                                             units: @units,
                                             full: true} %>

                                             