<h1>Locations</h1>
<hr/>
<% @locations.each do |location| %>
    <%= link_to location.name, location_path(location.id), class: "btn btn-primary mt-3" %>
<% end %>

<%if current_user && current_user.role == :owner%>
<%= link_to "+", new_location_path, class: "btn btn-primary mt-3" %>
Log in as owner to create locations.
<% end %>