<h1>Dashboard</h1>

<div class="row">
    <% @locations.each do |location| %>
        <div class="card m-3 p-3" style="width: 20rem">
        <%= link_to location.name, location_path(location.id), class: "btn btn-primary" %>
        <%= render partial: 'shared/units', locals: {location: location,
                                                     units: location.units,
                                                     full: false} %>
        </div>
    <% end %>
</div>
<div class="mb-5">
    <%if current_user && current_user.owner?%>
    <div class="mt-3"><%= link_to "Add new location", new_location_path %></div>
    <% else %>
    <div class="mt-3">Log in as owner to create locations</div>
    <% end %>
</div>