<h1><%= @location.name %></h1>
<hr/>

<div class="container">
<div class = "row">

    <div class="col-5">
    Keepers:

    <% @duties.each do |d| %>
        <%= link_to d.user.name, user_url(d.user_id) %>
    <% end %>
        <%=link_to "+", new_location_duty_path(@location.id), class: "btn btn-primary mt-1"%>
    </div>


    <div class="col-7">
        <%= link_to "Manage Rent", location_units_path(@location.id), class:"btn btn-primary mt-1"%>
    </div>

</div>
</div>